<div>
    <app-navbar></app-navbar>
</div>
<br>
<div class="container-fluid"> 
    <h2 class="text-center">Productos</h2><br>             
    <div class="row" >
         <div class="col-md-3 " *ngFor="let art of productos">
            <div class="card" style="min-height: 200px; min-width: 100px;">
                <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>Articulo: {{art.nombre}}</h4>
                        </div>
                        <div class="card-body text-center">
                        <p>$ &nbsp; {{art.precio}}</p>
                        <p>{{art.descripcion}}</p>
                        <p>{{art.codigo}}</p>
                        <p>{{art.cantidad}}</p>
                        <p>{{art.id_categoria}}</p>
                        <p>{{art.fecha_creacion | date:'dd-MM-yyyy'}}</p>
                        <div class="card-footer">
                            <button class="btn btn-success btn-block btn-sm form-control" type="button" (click)="aniadir(art)">   <i class="fas fa-cart-plus"></i> &nbsp; Agregar a carrito</button>
                        </div>
                    </div>    
                    </div>
                    </div>
                    <br>
                 </div>
                 <div class="text-center"><button type="button" class="btn btn-success btn-lg">Guardar</button>
        </div>
                </div>



<div>
    <app-footer></app-footer>

</div>

<!--<div class="form-floating mb-1">
                        <input type="number" class="form-control" id="cant" placeholder="Cantidad" min="0">
                        <label>Cantidad</label><br>-->