<app-navbar></app-navbar>
<div class="container-fluid">
    <br>

    <div *ngIf="facturas.length == 0" class="text-center">

        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong><h5>¡No hay Facturas! </h5></strong> Agrega una
        </div>

        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Agregar Factura</h4>
                </div>
                <div class="card-body">

                    <div class="form-floating mb-1">
                        <input type="number" class="form-control" id="subTotal" placeholder="Sub Total" min="0">
                        <label>Sub Total</label>
                    </div>

                    <div class="form-floating mb-1">
                        <input type="date" class="form-control" id="creacion" placeholder="Creación">
                        <label>Creación </label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="number" class="form-control" id="impuestos" placeholder="impuestos" min="0">
                        <label>impuestos</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="number" class="form-control" id="total" placeholder="Total" min="0">
                        <label>Total</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="id_region" placeholder="Region" min="0">
                        <label>Articulos</label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block form-control">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <h3 class="text-center" *ngIf="facturas.length > 0">Facturas del Cliente <br> <span class="badge rounded-pill bg-primary"> {{rfc}}</span> <br></h3>
    <div class="text-center" *ngIf="facturas.length > 0">
        <button class="btn btn-success btn-sm"><a style="color: white; text-decoration:none;" href="clientes/facturas/nueva?rfc={{rfc}}"><i class="fas fa-plus"></i>&nbsp;Nueva Factura</a></button>
    </div>
    <br *ngIf="facturas.length > 0">
    <div class="row" *ngIf="facturas.length > 0">
        <div class="col-md-3 " *ngFor="let factura of facturas">
            <div class="card" style="min-height: 300px; min-width: 100px;">
                <div class="card-header d-flex justify-content-between align-items-center ">
                    Factura N° {{factura.id}}
                    <button class="btn btn-warning btn-sm" (click)="editarFactura(factura.id)"><i class="fas fa-edit"></i>&nbsp; Editar</button>
                </div>
                <div class="card-body text-center">
                    Creacion
                    <p>{{factura.fecha_creacion | date:'dd-MM-yyyy'}}</p>
                    Subtotal
                    <p>{{factura.subtotal}}</p>
                    Impuestos
                    <p>{{factura.taxes}}</p>
                    <p><button class="btn btn-info" (click)="detalleArticulos(factura.id)">Articulos <br><i class="fas fa-barcode"></i></button></p>
                    Total
                    <p>{{factura.total}}</p>
                </div>
                <div class="card-footer">
                    <form>
                        <button class="btn btn-danger btn-block btn-sm form-control" type="submit" (click)="eliminaFactura(factura.id)"> <i class="fas fa-trash"></i> &nbsp; Eliminar</button>
                    </form>

                </div>

            </div>
            <br>
        </div>

    </div>
    <br>
</div>

<div class="modal fade" id="nuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Detalles de Articulos</h5>
            </div>
            <div class="modal-body">
                <div *ngFor="let articulo of articulos">
                    <div class="card  mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center ">
                            Código : {{articulo.codigo}}
                            <button class="btn btn-primary btn-sm" (click)="detallesProducto(articulo.codigo)"><i class="fas fa-archive"></i>&nbsp;Producto</button>
                        </div>
                        <div class="card-body text-center">
                            Cantidad: {{articulo.cantidad}}
                            <br> Impuesto: {{articulo.impuesto}}
                            <br> Precio Unitario: {{articulo.precio_unitario}}
                            <br> Sub Total: {{articulo.subtotal}}
                            <br> Total: {{articulo.total}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productos">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Detalles de Producto</h5>
            </div>
            <div class="modal-body">
                <div *ngFor="let producto of productos">
                    <div class="card  mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center ">
                            Producto: {{producto.nombre}}

                        </div>
                        <div class="card-body text-center">
                            Código : {{producto.codigo}}
                            <br> {{producto.descripcion}}
                            <br> Cantidad : {{producto.cantidad}}
                            <br> $ {{producto.precio}}
                            <br> Creación:
                            <p> {{producto.fecha_creacion | date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>