<app-navbar></app-navbar>
<div class="container-fluid">
    <br>

    <div *ngIf="facturas.length == 0" class="text-center">

        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong><h5>¡No hay Facturas! </h5></strong> Agrega una
        </div>

        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Agregar Factura</h4>
                </div>
                <div class="card-body">

                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="nombres" placeholder="Nombre(s)">
                        <label>Nombre(s)</label>
                    </div>

                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="apellidos" placeholder="apellidos">
                        <label>Apellidos</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="rfc" placeholder="apellidos">
                        <label>RFC</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="email" class="form-control" id="correo" placeholder="apellidos">
                        <label>Correo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="id_region" placeholder="Region" min="0">
                        <label>Region</label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block form-control">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <h3 class="text-center" *ngIf="facturas.length > 0">Facturas del Cliente <br> <span class="badge rounded-pill bg-primary"> {{rfc}}</span> <br></h3>
    <div class="text-center" *ngIf="facturas.length > 0">
        <button class="btn btn-success btn-sm"><a style="color: white; text-decoration:none;" href="clientes/facturas/nueva?rfc={{rfc}}"><i class="fas fa-plus"></i>&nbsp;Nueva Factura</a></button>
    </div>
    <br *ngIf="facturas.length > 0">
    <div class="row" *ngIf="facturas.length > 0">
        <div class="col-md-3 " *ngFor="let factura of facturas">
            <div class="card" style="min-height: 300px; min-width: 100px;">
                <div class="card-header d-flex justify-content-between align-items-center ">
                    Factura N° {{factura.id}}
                    <button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>&nbsp; Editar</button>
                </div>
                <div class="card-body text-center">

                    Creacion
                    <p>{{factura.fecha_creacion | date:'dd-MM-yyyy'}}</p>
                    Cliente
                    <p> {{factura.rfc_cliente }}</p>
                    Subtotal
                    <p>{{factura.subtotal}}</p>
                    Impuestos
                    <p>{{factura.taxes}}</p>
                    <p><button class="btn btn-info">Articulos <br><i class="fas fa-barcode"></i></button></p>
                    Total
                    <p>{{factura.total}}</p>
                </div>
                <div class="card-footer">
                    <form>
                        <button class="btn btn-danger btn-block btn-sm form-control" type="submit"> <i class="fas fa-trash"></i> &nbsp; Eliminar</button>
                    </form>

                </div>

            </div>
            <br>
        </div>

    </div>
    <br>
</div>



<app-footer></app-footer>