<app-navbar></app-navbar>
<div class="container-fluid">
    <br>

    <div *ngIf="facturas.length == 0" class="text-center">

        <h3 class="text-center">Facturas del Cliente <br> <span class="badge rounded-pill bg-primary"> {{rfc}}</span> <br></h3>
        <button class="btn btn-success btn-sm"><a style="color: white; text-decoration:none;"
                href="clientes/facturas/nueva?rfc={{rfc}}"><i class="fas fa-plus"></i>&nbsp;Nueva Factura</a>
        </button>
        <br>

        <img src="http://drive.google.com/uc?export=view&id=1gKwNDwbGhJJIGCEGqywQs8F-9c9ma_Oe" style="width: 400px; height:400px " />


        <div class="alert alert-danger text-center">
            <strong>
                <h5>¡No hay Facturas! </h5>
            </strong> Agrega una
        </div>
    </div>



    <h3 class="text-center" *ngIf="facturas.length > 0">Facturas del Cliente <br> rfc: <span class="badge rounded-pill bg-primary"> {{rfc}}</span> <br></h3>
    <div class="text-center" *ngIf="facturas.length > 0">
        <button class="btn btn-success btn-sm"><a style="color: white; text-decoration:none;"
                href="clientes/facturas/nueva?rfc={{rfc}}"><i class="fas fa-plus"></i>&nbsp;Nueva Factura</a></button>
    </div>
    <br *ngIf="facturas.length > 0">
    <div class="row" *ngIf="facturas.length > 0">
        <div class="col-md-3 " *ngFor="let factura of facturas">
            <div class="card" style="min-height: 300px; min-width: 100px;">
                <div class="card-header d-flex justify-content-between align-items-center ">
                    <h4> Factura {{factura.id}}</h4>

                </div>
                <div class="card-body text-center">
                    Creacion
                    <p>{{factura.fecha_creacion | date:'dd-MM-yyyy'}}</p>
                    Subtotal
                    <p>{{factura.subtotal}}</p>
                    Impuestos
                    <p>{{factura.taxes}}</p>
                    <p><button class="btn btn-info" (click)="detalleArticulos(factura)">Articulos <br><i
                                class="fas fa-barcode"></i></button></p>
                    Total
                    <p>{{factura.total}}</p>
                </div>
                <div class="card-footer">
                    <form>
                        <button class="btn btn-danger btn-block btn-sm form-control" type="submit" (click)="eliminaFactura(factura.id)"> <i class="fas fa-trash"></i> &nbsp; Eliminar</button>
                    </form>

                </div>

            </div>
            <br>
        </div>

    </div>
    <br>
</div>

<div class="modal fade" id="nuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Detalles de Articulos</h5>
            </div>

            <div class="modal-body">
                <div *ngFor="let articulo of articulos">
                    <div class="card  mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center ">
                            Código : {{articulo.codigo}}
                            <button class="btn btn-primary btn-sm" (click)="detallesProducto(articulo.codigo)"><i
                                    class="fas fa-archive"></i>&nbsp;Producto</button>
                        </div>
                        <div class="card-body text-center">
                            Cantidad: {{articulo.cantidad}}
                            <br> Impuesto: {{articulo.impuesto}}
                            <br> Precio Unitario: {{articulo.precio_unitario}}
                            <br> Sub Total: {{articulo.subtotal}}
                            <br> Total: {{articulo.total}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productos">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Detalles de Producto</h5>
            </div>
            <div class="modal-body">
                <div *ngFor="let producto of productos">
                    <div class="card  mb-3">
                        <div class="card-header d-flex justify-content-between align-items-center ">
                            Producto: {{producto.nombre}}

                        </div>
                        <div class="card-body text-center">
                            Código : {{producto.codigo}}
                            <br> {{producto.descripcion}}
                            <br> Cantidad : {{producto.cantidad}}
                            <br> $ {{producto.precio}}
                            <br> Creación:
                            <p> {{producto.fecha_creacion | date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="preguntar">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">¿Eliminar Factura?</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <button class="btn btn-danger btn-sm" type="submit" (click)="eliminaFacturaBase()">Eliminar</button> &nbsp;
                    <button class="btn btn-success btn-sm" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>