<app-navbar></app-navbar>


<div class="container-fluid" *ngIf="clientes.length == 0">


    <br>


    <h3 class="text-center">Clientes <i class="fas fa-users"></i> <br></h3>

    <div class="text-center">
        <button type="button" class="btn btn-success btn-lg" (click)="agregarCliente()"><i class="fas fa-plus"></i>&nbsp; Nuevo Cliente</button>
    </div>
    <br>
    <div class="text-center">
        <img src="http://drive.google.com/uc?export=view&id=1Zh4x1lD3hot489tq7B9hiD7ey1A__ibQ" style="width: 500px; height:400px " />
    </div>
    <br>
    <div class="alert alert-danger text-center">

        <strong>
            <h5>¡No hay Clientes! </h5>
        </strong> Agrega
    </div>
</div>


<div class="container-fluid" *ngIf="clientes.length > 0">
    <br>
    <h3 class="text-center">Clientes &nbsp;<i class="fas fa-users"></i> <br></h3>

    <div class="text-center">
        <button type="button" class="btn btn-success btn-sm" (click)="agregarCliente()"><i class="fas fa-plus"></i>&nbsp; Nuevo Cliente</button>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4 " *ngFor="let cliente of clientes">
            <div class="card " style="min-height: 200px; min-width: 100px;">
                <div class="card-header d-flex justify-content-between align-items-center ">
                    {{cliente.nombres}} {{cliente.apellidos}}
                </div>
                <div class="card-body text-center">
                    {{cliente.rfc}}
                    <p> {{cliente.correo}}</p>
                    <p>{{cliente.id_region.region}}</p>

                </div>
                <button class="btn btn-primary btn-sm form-control"><a style="color: white; text-decoration:none;" href="clientes/facturas?rfc={{cliente.rfc}}">Facturas</a>&nbsp; <i class="fas fa-file-alt" style="color: white;"></i></button>
            </div>
            <br>
        </div>


    </div>

</div>



<div class="modal fade" id="nuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title">Nuevo cliente <i class="fas fa-user-plus"></i></h5>

            </div>
            <form [formGroup]="clienteForm" (ngSubmit)="createCliente()">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="text" id="nombres" formControlName="nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" placeholder="Nombres">
                            <label>Nombre(s) </label>
                            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="text" id="apellidos" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" placeholder="Apellidos">
                            <label>Apellidos </label>
                            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                                <div *ngIf="f.apellidos.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="text" id="rfc" formControlName="rfc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rfc.errors }" placeholder="RFC">
                            <label>rfc</label>
                            <div *ngIf="submitted && f.rfc.errors" class="invalid-feedback">
                                <div *ngIf="f.rfc.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="email" id="correo" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" placeholder="Correo">
                            <label>correo</label>
                            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                                <div *ngIf="f.correo.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Región</label>
                        <select class="form-control" id="region" formControlName="region" placeholder="asdsad">
                            
                            <ng-container *ngFor="let region of regiones">
                                <option >{{region.region}}</option>
                            </ng-container>
                        </select>

                        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                            <div *ngIf="f.region.required">La region es obligatoria</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="facturas">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Nuevo cliente</h5>
            </div>
        </div>
    </div>
</div>










<div>
    <app-footer></app-footer>
</div>