<app-navbar></app-navbar>


<div class="container-fluid">
    <br>
    <h3 class="text-center">Clientes <br></h3>
    <div class="text-center">
        <button type="button" class="btn btn-success btn-sm" (click)="agregarCliente()">Nuevo Cliente</button>
    </div>
    <br>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Id </th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>RFC</th>
                    <th>Correo</th>
                    <th>Region</th>
                    <th>Facturas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ">
                    <th> <span class="badge bg-dark">{{cliente.id}}</span> </th>
                    <th>{{cliente.nombres}}</th>
                    <th>{{cliente.apellidos}} </th>
                    <th>{{cliente.rfc}}</th>
                    <th>{{cliente.correo}} </th>
                    <th><button class="btn btn-warning btn-sm" (click)="verFacturas(cliente.region.id)"> Facturas</button> </th>
                </tr>
            </tbody>
        </table>


    </div>
</div>


<div class="modal fade" id="nuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Nuevo cliente</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nombres" placeholder="Nombre(s)">
                        <label>Nombre(s)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="apellidos" placeholder="apellidos">
                        <label>Apellidos</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="rfc" placeholder="apellidos">
                        <label>RFC</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="correo" placeholder="apellidos">
                        <label>Correo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="id_region" placeholder="Region" min="0">
                        <label>Region</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="facturas">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Nuevo cliente</h5>
            </div>
        </div>
    </div>
</div>










<div>
    <app-footer></app-footer>
</div>