<app-navbar></app-navbar>


<div class="container-fluid">
    <br>

    <h3 *ngIf="clientes.length > 0" class="text-center">Clientes &nbsp;<i class="fas fa-users"></i> <br></h3>


    <div *ngIf="clientes.length > 0" class="text-center">
        <button type="button" class="btn btn-success btn-sm" (click)="agregarCliente()"><i class="fas fa-plus"></i>&nbsp; Nuevo Cliente</button>
    </div>
    <br>
    <div *ngIf="clientes.length > 0">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Id </th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>RFC</th>
                    <th>Correo</th>
                    <th>Region</th>
                    <th>Facturas</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let cliente of clientes">
                    <tr *ngFor="let region of regiones">
                        <th *ngIf="region.id== cliente.id_region"> <span class="badge bg-dark">{{cliente.id}}</span> </th>
                        <th *ngIf="region.id== cliente.id_region">{{cliente.nombres}}</th>
                        <th *ngIf="region.id== cliente.id_region">{{cliente.apellidos}} </th>
                        <th *ngIf="region.id== cliente.id_region">{{cliente.rfc}}</th>
                        <th *ngIf="region.id== cliente.id_region">{{cliente.correo}} </th>
                        <th *ngIf="region.id== cliente.id_region">{{region.region}}</th>
                        <th *ngIf="region.id== cliente.id_region">
                            <button class="btn btn-info btn-sm"><a style="color: white; text-decoration:none;" href="clientes/facturas?rfc={{cliente.rfc}}">Facturas</a>&nbsp; <i class="fas fa-file-alt" style="color: white;"></i></button>
                        </th>
                    </tr>
                </ng-container>
            </tbody>
        </table>


    </div>
</div>



<div class="modal fade" id="nuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Nuevo cliente <i class="fas fa-user-plus"></i></h5>

            </div>
            <form [formGroup]="clienteForm" (ngSubmit)="createCliente()">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="text" id="nombres" formControlName="nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" placeholder="Nombres">
                            <label>Nombre(s) </label>
                            <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="text" id="apellidos" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" placeholder="Apellidos">
                            <label>Apellidos </label>
                            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                                <div *ngIf="f.apellidos.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="text" id="rfc" formControlName="rfc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rfc.errors }" placeholder="RFC">
                            <label>rfc</label>
                            <div *ngIf="submitted && f.rfc.errors" class="invalid-feedback">
                                <div *ngIf="f.rfc.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-floating mb-1">
                            <input type="email" id="correo" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" placeholder="Correo">
                            <label>correo</label>
                            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                                <div *ngIf="f.correo.errors.required">El nombre del Cliente es obligatorio</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Región</label>
                        <select class="form-control" id="region" formControlName="region" placeholder="asdsad">
                            
                            <ng-container *ngFor="let region of regiones">
                                <option >{{region.region}}</option>
                            </ng-container>
                        </select>

                        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                            <div *ngIf="f.region.required">La region es obligatoria</div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="facturas">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class=" text-center modal-header ">
                <h5 class="modal-title">Nuevo cliente</h5>
            </div>
        </div>
    </div>
</div>










<div>
    <app-footer></app-footer>
</div>