<nav class="navbar navbar-dark navbar-expand-md bg-info navigation-clean">
    <div class="container-fluid"><a class="navbar-brand" href="clientes">&nbsp;Facturas</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="clientes">Clientes</a></li>
                <li class="nav-item"><a class="nav-link" href="about">About</a></li>
            </ul>
        </div>
    </div>
</nav>